
/* outer div */
#TOCcontainer {
}

/* inner div: opens and closes on toggle (generated) */
#table-of-contents {
	margin-bottom: 30px;
}

/* special formatting for the TOC if toggle open/close is enabled */
#table-of-contents.toggled {
	background: #f4f4f4;
	padding: 20px 30px 20px 20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;	
}
	/* title of the TOC */ 
	#table-of-contents #TOCTitle {}

	/* span containing the up/down icon */
	#table-of-contents #TOCTitle #ToggleTOC {
		float: right; 
		font-size: 20px; 
		color: #888;
	}
	/* span containing the up/down icon (yep) */
	#table-of-contents #TOCTitle .updown {}
	
	
	/* the (single) list that contructs the TOC: toggles open and close */
	#table-of-contents ul {
		margin: 0; 
		padding: 0 0 0 20px;;}
	
		#table-of-contents ul li {list-style: none;}

		/* classes for the six different headers */
		#table-of-contents ul li.toch1 {}
		#table-of-contents ul li.toch2 {text-indent: 20px;}
		#table-of-contents ul li.toch3 {text-indent: 40px;}
		#table-of-contents ul li.toch4 {text-indent: 60px;}
		#table-of-contents ul li.toch5 {text-indent: 80px;}
		#table-of-contents ul li.toch6 {text-indent: 100px;}
		
			#table-of-contents ul li a {}	
				#table-of-contents ul li a:hover {}
		
/* the (optional) 'BackToTop' link */				
a.backToTop {}